#tituloPrincipal{
    font-family: 'Bebas Neue', cursive;    
}

.active2{
    text-decoration: underline;

}
.menu{
    background-color: $colorMain;
    border-bottom: 2px solid black;
}
.subtitulos{
    color: white;
    background-color: $colorMain;
    border: solid black;
}